@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/flowbite-datepicker";

@plugin "tailwindcss-animate";
@plugin "tailwindcss-react-aria-components";

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-white dark:bg-black text-black dark:text-white font-sans;
  }
}

#root {
  width: 100vw;
}
